Repository at-syntax/react-native-advance-components: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

Update README.md
  README.md
Due: none

feat: :tada: add snackbar
  example/src/App.tsx
  example/src/components/SnackbarDemo.tsx
  src/components/IconButton/index.tsx
  src/modules/ImageViewerModal/index.tsx
  src/modules/Snackbar/index.test.tsx
  src/modules/Snackbar/index.tsx
  src/modules/index.tsx
Due: lint

feat: :rocket: refactor code
  example/src/App.tsx
  src/modules/ImageViewerModal/index.tsx
  src/modules/Snackbar/index.tsx
  src/utils/platformSpecific.ts
Due: lint, types

feat: :rocket: add variant
  example/src/App.tsx
  example/src/components/SnackbarDemo.tsx
  src/components/IconButton/index.tsx
  src/modules/Snackbar/index.tsx
  src/utils/iconUnicode.ts
  src/utils/index.ts
Due: lint, types

feat: :sparkles: add theme
  example/src/App.tsx
  example/src/components/SnackbarDemo.tsx
  package.json
  src/context/index.tsx
  src/index.tsx
  src/modules/ImageViewerModal/index.tsx
  src/modules/Snackbar/index.tsx
  src/modules/Snackbar/utils.tsx
Due: lint

feat: :sparkles: add zoom in ImageViewerModal
  example/src/App.tsx
  src/components/IconButton/index.tsx
  src/modules/ImageViewerModal/index.tsx
  src/modules/Snackbar/index.tsx
Due: lint

refactor: :lipstick: refactor code
  example/src/App.tsx
  src/components/IconButton/index.tsx
  src/modules/ImageViewerModal/index.tsx
  src/modules/Snackbar/index.tsx
Due: lint

feat: :sparkles: image zoom
  example/src/components/ImageViewerModalDemo.tsx
  src/components/ImageZoom/index.style.ts
  src/components/ImageZoom/index.tsx
  src/components/ImageZoom/index.type.ts
  src/components/index.ts
  src/index.tsx
  src/modules/ImageViewerModal/index.tsx
Due: lint, types

refactor: :sparkles: refactor code
  src/components/ImageZoom/index.tsx
  src/modules/ImageViewerModal/index.tsx
Due: lint

refactor: :sparkles: refactor code
  src/components/ImageZoom/index.style.ts
  src/components/ImageZoom/index.test.tsx
  src/components/ImageZoom/index.tsx
Due: lint, types

refactor: :sparkles: update type
  src/components/Center/index.tsx
  src/components/Center/index.type.ts
  src/components/IconButton/index.tsx
  src/components/IconButton/index.type.ts
  src/components/ImageZoom/index.tsx
  src/index.tsx
  src/modules/ImageViewerModal/index.tsx
  src/modules/ImageViewerModal/index.type.ts
  src/modules/Snackbar/index.tsx
  src/modules/Snackbar/index.type.ts
  src/modules/Snackbar/utils.tsx
  src/modules/index.tsx
Due: lint, types

refactor: :sparkles: update .gitignore
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

refactor: :bug: refactor theme
  example/src/App.tsx
  src/context/index.tsx
Due: lint

refactor: :ambulance: add git template
  .github/issue_templated.md
  .github/pull_request_template.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

refactor: :memo: issue template for dev
  .github/ISSUE_TEMPLATE/developer_request.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/developer-request.md
Due: none

refactor: :zap: refactor
  .github/ISSUE_TEMPLATE/developer-request.md
  .github/ISSUE_TEMPLATE/developer_request.md
Due: none

refactor: :bug: fix Snackbar outline variant
  src/modules/ImageViewerModal/index.tsx
  src/modules/Snackbar/index.tsx
  src/modules/Snackbar/utils.tsx
Due: lint

refactor: :sparkles: update README.md
  README.md
  src/modules/Snackbar/utils.tsx
Due: lint

chore: release 0.2.0
  package.json
Due: none

Update package.json
  package.json
Due: none

refactor: :fire: fix ImageViewerModal
  package.json
  src/modules/ImageViewerModal/index.tsx
  src/modules/ImageViewerModal/index.type.ts
Due: lint, types

chore: release 0.2.1
  package.json
Due: none

refactor: :fire: add example in readme
  .markdownlint.json
  .vscode/settings.json
  README.md
Due: none

refactor: :fire: add example in readme
  README.md
Due: none

perf: :zap: add react-native-vector-icon support
  example/android/app/build.gradle
  example/ios/AdvanceComponentsExample/Info.plist
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  src/components/IconButton/index.tsx
  src/modules/Snackbar/index.tsx
  src/modules/Snackbar/utils.tsx
  src/utils/iconUnicode.ts
  src/utils/index.ts
  tsconfig.json
  yarn.lock
Due: lint, types

refactor: :recycle: refactror ImageViewerModal and update docs
  .markdownlint.json
  README.md
  src/modules/ImageViewerModal/index.tsx
  src/modules/ImageViewerModal/index.type.ts
Due: lint, types

chore: release 0.2.2
  package.json
Due: none

refactor: :fire: refactor readme and package.json
  example/ios/Podfile.lock
  package.json
  yarn.lock
Due: none

chore: release 0.2.3
  package.json
Due: none

refactor: :fire: update snackbar color
  example/src/components/SnackbarDemo.tsx
  src/modules/Snackbar/index.tsx
  src/modules/Snackbar/utils.tsx
Due: lint

chore: release 0.2.4
  package.json
Due: none

feat: :rocket: remove src from npm
  package.json
Due: none

chore: release 0.3.0
  package.json
Due: none

feat: :rocket: revert package.json
  package.json
  src/index.tsx
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
